/* .login{
    height: 100vh;
    display: flex;
    align-items: ;
} */
.login {
    display: grid;
    background-color:#101a20;
    place-items: center;
    
    height: 100vh;
    width: 100%;
  }
  
  .login > div > img {
    object-fit: contain;
    
    height: 100px;
  }
  
  .login > button {
    width: 300px;
    background-color:  #00a884;
    color: #202427;
    font-weight: 800;
    cursor: pointer;
  }
  
 
  .app-name{
    color: #00a884;
    
  }
  .ipt{
    width: 300px;
    height: 40px;
    /* margin-top:-140px; */
    border-top: none;
    border-left: none;
    border-right: none;
    text-indent: 4px;
    text-align: center;
    outline: none;
  
  
  }
  .pass{
    /* margin-top:-240px; */
    width: 300px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-indent: 4px;
    text-align: center;
    outline: none;
  
  
  
  }
  .button{
    /* margin-top: -300px; */
    height: 40px;
  }
  .account{
    color: white;
    /* margin-top: -420px; */
  }
  .account span{
    color:  #00a884;
           cursor: pointer;
  }